.App {
  text-align: center;
}

body {
/*  background: #966F33; */
  background: #202020;
}

.retro {

  font-size: 20px;
  font-family: monospace;
  font-weight: bold;
/* color: #00FF33; green */
  color: #FFB000; /* amber */
  text-shadow: 1px 1px 1px #E5AC05;

  width: 680px;
  height: 400px;

  background: #282828;
  padding: 25px;
  margin: 30px auto;
}
